body{
  background-image: url("https://images.unsplash.com/photo-1601110958601-5616dcac1bcf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ymx1ZSUyMGNsb3Vkc3xlbnwwfHwwfHw%3D&w=1000&q=80");
  
  background-position: center top;
  background-size: 100% auto;
  background-attachment: scroll;
  background-size: cover;
}
