.greeting{
    font-family: "Copperplate";
    color: white;
    margin:2%;
    font-size: 250%;
}

.frame{
    width:50%;
    margin-left: 25%;
    margin-top: 3%;
}

.airlinecard{
    display: inline-block;
    margin: 50px;
    text-align: center;
    width: 370px;
    height: 430px;
    margin:55px;
    padding:15px;
   
    border-radius:5px;
   
    background:#f5f5f5;
    overflow-x:auto;
}

.cardimg{
    border-radius:5px;
    margin-top:1%;
    width:310px;
    height:350px;
}

.btnp{
    margin: 1%;
    justify-content:center;
  width: 170px;
  padding: 15px;
  
  margin-bottom:3%;
  border:none;
  border-Radius:3%;
  font-weight:10%;
  font-weight: bold;
}

.reviewbuttons{
  
    margin: 1%;
    padding-bottom: 3%;
}

.reviewcard{
    clear: both;
    display: inline-block;
    margin: 50px;
   padding-top: 24%;
    text-align: center;
    width: 370px;
    height: 640px;
 padding-top: 70px;
    padding:15px;
   
    border-radius:5px;
   
    background:#f5f5f5;
    overflow-x:auto;
  
}

.reviewb{
    height: 25%;
}

.reviewformheading{
    color:white;
    font-family: "Copperplate";
    margin: 2%;
    margin-left: 24%;
}

.fheading{
    color: white;
    font-size: 120%;
}

.rform{
    width: 50%;
    margin-left:24%;
}

.backb{
    margin: 1%;
}